.footer2{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    margin: 30px 0;
  overflow: hidden;
  padding:0 10px;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.459); */
}
.footer2 .sec1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.footer2 .sec1 div{
     /*   */
     width:20%;
     min-width: 200px;    
}
.footer2 .sec1 .f1{
    padding-left: 10px;
    width:15%;
    min-width: 200px;
    display:flex;
    flex-direction:column;
}
.footer2 .sec1 .f1 img{
    width:100px;
    height:80px;
    /* margin: 10px;   */
}
.footer2 .sec1 .f1 p{
    /* margin: 10px; */
    font-size: 15px;
    font-weight:400;
    width:90%;
    line-height:2;
    color: #000000ba;
}
.footer2 .sec1 .socialIcons img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.footer2 .sec1 .f2{
    display:flex;
    flex-direction:column;
    padding-top: 10px;
}
.footer2 .sec1 .f2 h3{
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    color: #000000ba;
}
.footer2 .sec1 .f2 p{
    font-size: 15px;
    font-weight: 200;
    width: 90%;
    line-height: 2;
    color: #000000ba;
    /* text-decoration: none; */
}
.footer2 .sec1 .f2 svg{
    width: 25px;
    height: 25px;
    margin: 5px;
    color: var(--col1);
}
.footer2 .sec1 .f2 .stylenone{
    text-decoration: none;
}

 .inputcontainer {
    display:flex;
    width:200px;
    color:rgba(0, 0, 0, 0.459);
    border: 1px solid rgba(0, 0, 0, 0.459);
    margin:5px 0;
    ;
} 
.inputcontainer input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    margin: 10px 0;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.459); */
}
.footer2 .sec2
{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    margin: 30px 0 0 0;
    overflow: hidden;
    padding:0 10px;
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.036); 
}
.footer2.sec2  h3{
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    color: #000000ba;
}
.footer2.sec2  img{
    width: 100px;
    height: 80px;
    /* margin: 10px; */
}
